@font-face{
    font-family: 'WorkSans';
    font-style: normal;
    src: url('./../font/WorkSans-ExtraLight.ttf');
}

@font-face{
    font-family: 'WorkSans-Light';
    font-style: normal;
    src: url('./../font/WorkSans-Light.ttf');
}


@font-face{
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    src: url('./../font/Merienda-Regular.ttf'); /* IE9 Compat Modes */
}

.modalCode{
    background-color: #181819;
    color: #d6d100;
    font-family: 'WorkSans-Light';
    font-size: 18px;
}

.textModal{
    text-align: center;
}
