body > #root > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

@font-face{
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    src: url('./../font/Merienda-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face{
  font-family: 'WorkSans';
  font-style: normal;
  font-weight: 200;
  src: url('./../font/WorkSans-ExtraLight.ttf');
}
  
.mainContainer{
    justify-content: center;
    background-color: #181819;
}

.phraseContainer{
    color: #d6d100;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Merienda';
    margin-top: 90px;
    flex: 2.5;
}

.authorName{
  font-family: 'WorkSans';
  font-size: 20px;
}

.aleatorio{
  color: #181819;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'WorkSans';
  background-color: #d6d100;
  flex: 1;
  font-size: 20px;
}

.blackText:link {
  color: #181819;
}

.blackText:hover {
  color: #6d6d74;
}

.blackText {
  font-size: 20px;
  font-weight: bolder;
}

.dica{
  font-size: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .phraseContainer{
      color: #d6d100;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 18px;
      font-family: 'Merienda';
      margin-top: 80px;
      flex: 3;
  }

  .aleatorio{
    color: #181819;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'WorkSans';
    background-color: #d6d100;
    flex: 1;
    font-size: 16px;
  }

  .blackText {
    font-size: 16px;
    font-weight: bolder;
  }

  .dica{
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .authorName{
    font-family: 'WorkSans';
    font-size: 16px;
    margin-top: -10px;
  }

  a {
    font-size: 16px;
  }
}

.logo{
  width: 130px;
  height: 30px;
}

.header{
    height: 50px;
    background-color: #d6d100;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

/* unvisited link */
a:link {
    color: #d6d100;
  }
  
  /* visited link */
  a:visited {
    color: #d6d100;
  }
  
  /* mouse over link */
  a:hover {
    color: #fffc5d;
  }
  
  /* selected link */
  a:active {
    color: #d6d100;
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }